<div id="hero">
		<h1 class="light">Precision In Every Layer</h1>
		<h2 class="light blue">The ultimate filament for your hobbyist 3D printer.</h2>

		<a href="/collections/all" class="button" id="action_call">ABS</a> 
		<img src="{{ 'and.png' | asset_url }}" alt="and" height="20px">
		<a href="/collections/all" class="button" id="action_call">PLA</a>
		
		<p>
			<img src="{{ 'checksheild1.png' | asset_url }}" id ="sheild" alt="" height="40px"> 
			Our Filament is Backed by our <a href="/pages/garuntee">100% Money back Garuntee</a>
		</p>

		<div class="filament">
			<img src="{{ 'black.png' | asset_url }}" alt="black">
			<img src="{{ 'blue.png' | asset_url }}" alt="blue">
			<img src="{{ 'green.png' | asset_url }}" alt="green">
			<img src="{{ 'yellow.png' | asset_url }}" alt="yellow">
			<img src="{{ 'orange.png' | asset_url }}" alt="orange">
			<img src="{{ 'red.png' | asset_url }}" alt="red">
			<img src="{{ 'white.png' | asset_url }}" alt="white">
		</div>
		
	</div>